:host {
  display: block;
  background-color: #f2f3f5; // abu muda
  color: #1d1e1c; // teks gelap tapi tidak full hitam
  font-family: 'Segoe UI', sans-serif;
  padding: 2rem;
}

h2 {
  color: #4d5b9e; // biru lembut elegan
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
}
